{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
    <div class="col-sm-10">
        <h3 class="text-white my-5">Home Page</h3>
        <div class="mt-4 p-5 bg-secondary jumbo-color rounded">
            <div class="container">
              <h1 class="display-4 fw-bold">This is Blog Title</h1>
              <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere quaerat quisquam inventore rerum! Quidem molestias error unde modi repellendus in!</p>
            </div>
          </div>
    </div>
{% endblock content %}
    